// -- Activity Stuff -- //
.activity-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.activity-wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.activity-inner {
  height: 100px;
  left: 0;
  width: auto;
  position: relative;
}

.activity__image {
  width: 100%;
  height: 100%;
}

.activity__person {
  width: 100px;
  height: 100px;
  background-image: url('/images/devices--photo.png');
  background-size: cover;
  background-position: center center;
  display: inline-block;
  float: left;
  margin-right: $padding/2;
  transition: all .2s ease-out;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &.isActive {
    border: 3px solid $green;

    &:hover {
      border: 8px solid $green;

      &::before {
        background: rgba($green, 0.5);
      }
    }
  }

  &.hasExited {
    border: 3px solid $blue;

    &:hover {
      border: 8px solid $blue;

      &::before {
        background: rgba($blue, 0.5);
      }
    }
  }

  &.isFlagged {
    border: 3px solid $red;

    &:hover {
      border: 8px solid $red;

      &::before {
        background: rgba($red, 0.5);
      }
    }
  }

  &.isWarned {
    border: 3px solid $yellow;

    &:hover {
      border: 8px solid $yellow;

      &::before {
        background: rgba($yellow, 0.5);
      }
    }
  }

}

.arrow{
  position: absolute;
  top: 50%;
  cursor: pointer;

  &:hover{
    color: $gray-medium;
  }

  &--right{
    right: 0;
  }
}