// -- Alert -- //
.alert {
  width: 100%;
  background: $gray-base;
  border-left: 5px solid $gray-medium;
  padding: $padding/2;
  margin-bottom: $padding;
  max-height: 10vh;
  overflow-y: auto;
}

.alert--info {
  border-left: 5px solid $blue-dark;
  background: rgba($blue, 0.5);
  color: $blue-dark;
  font-size: $font-size-sm;
}


.alert--warning {
  border-left: 5px solid $yellow-dark;
  background: rgba($yellow, 0.5);
  color: $yellow-dark;
  font-size: $font-size-sm;
}


.alert--danger {
  border-left: 5px solid $red-alt-dark;
  background: rgba($red-alt, 0.5);
  color: darken($red-alt-dark, 20%);
  font-size: $font-size-sm;
}


.alert--success {
  border-left: 5px solid $green-alt-dark;
  background: rgba($green-alt, 0.5);
  color: darken($green-alt-dark, 20%);
  font-size: $font-size-sm;
}
