*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: $gray-light;
  color: $text-color;
  font-family: $font-main;
  font-size: 16px;
}

a {
  color: $blue-alt-dark;
  text-decoration: none;

  &:hover {
    color: $blue-alt;
  }
}

.wrapper--login {
  position: relative;
  width: 100%;
  height: 100%;

}

.wrapper--body {
  width: calc(100% - 75px);
  height: calc(100% - 10vh);
  margin-top: 10vh;
  padding-top: $padding;
  float: right;

  @media(max-width: $breakpoint-md) {
    width: 100%;
  }
}

.height--third {
  height: 42vh;

  @media(max-width: $breakpoint-lg) {
    height: 25vh;
  }

  @media(max-width: $breakpoint-md) {
    height: auto;
  }

}

.height--one-third {
  height: 20vh;
  @media(max-width: $breakpoint-md) {
    height: auto;
  }
}

.height--half {
  height: 50%;
  @media(max-width: $breakpoint-md) {
    height: auto;
  }
}

// -- Section -- //
.section {

}

.section__header {
  padding: $padding 0;
}

.section__title {
  font-size: $font-size-sm;
  font-family: $font-bold;
  margin: 0;
  text-transform: uppercase;
}

.image-capture {

  position: relative;
  width: 100%;

  .image {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 300px;
    padding-bottom: 100%;
    background-position: center;
    background-size: cover;
  }
  canvas.image {
    padding-bottom: 30%;
  }

  // -- Broken Image Fix -- //
  img {
    font-family: $font-main;
    font-weight: $font-bold;
    line-height: 2;
    text-align: center;

    width: 100%;
    height: auto;
    display: block;
    position: relative;
    min-height: 250px;

    &:before {
      content: " ";
      display: block;

      position: absolute;
      height: 100%;
      width: 100%;
      background: $gray-medium;
    }

    &:after {
      content: "\f1c5";
      font-family: FontAwesome, 'serif';
      display: block;
      font-size: 6rem;
      font-style: normal;
      color: $gray-lightest;

      position: absolute;
      top: 50%;
      width: 100%;
      transform: translate(0, -60%);
    }
  }
}

.image-capture__button {
  color: $gray-lightest;
  font-size: $font-size-xlg;
  background: rgba($gray-dark, .75);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  transition: all .2s ease-out;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  span {
    display: block;
    text-indent: -9999px;
  }

  &:hover {
    background: rgba($gray-darkest, 0.5);
  }
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 1000;
  border: 1px solid $gray-darkest;
  background-color: rgba($gray-darkest, 0.95);
  border-radius: 5px;
  padding: $padding/2;
  color: $gray-lightest;
}


/// Main Search Button
.main-search{
  cursor: pointer;
}