// -- Button -- //
.btn {
  display: block;
  width: 100%;
  background: $gray-medium;
  color: $gray-darkest;
  font-family: $font-bold;
  text-align: center;
  padding: $padding/2 $padding;
  border-radius: 0;
  border: none !important;
  @include box-shadow($color: $gray-darkest, $spread: 0, $blur: 5px, $vShadow: 4px);
  transition: all .2s ease-out;
  text-decoration: none;

  &:hover {
    color: $gray-darkest;
    @include box-shadow($color: $gray-darkest, $spread: 0, $blur: 2px, $vShadow: 2px);
  }


  &--full{
    margin-bottom: $padding/2;
  }

  &--half{
    float: left;
    width: calc( 50% - 10px );
    &:not(:last-child){
      margin-right: $padding;
    }
  }
}

.btn--success {
  background: $green-alt;

  &:hover {
    background: $green-alt-dark;
  }
}

.btn--info{
  background: $blue-alt;

  &:hover {
    background: $blue-alt-dark;
  }
}

.btn--warning {
  background: $yellow;

  &:hover {
    background: $yellow-dark;
  }
}

.btn--danger {
  background: $red-alt;

  &:hover {
    background: $red-alt-dark;
  }
}