// -- Card -- //
.card {
  background: $gray-lightest;
  @include box-shadow($color: $gray-darkest, $spread: 0, $blur: 10px);
  font-size: 1em;
  transition: box-shadow .2s ease-out;
  margin-bottom: $padding;

  &:hover {
    //transform: scale(1.01);
    @include box-shadow($color: $gray-darkest, $spread: 0, $blur: 25px);
  }


  &--login{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
  }
}

.card__header {
  padding: $padding;
  border-bottom: 2px solid $gray-base;
  height: 55px;
}

.card__titles {
  width: 65%;
  float: left;

  &--expandable{
    cursor: pointer;
    user-select: none;
  }
}

.card__title {
  font-size: $font-size-sm;
  font-family: $font-bold;
  margin: 0;
  text-transform: uppercase;
}

.card__actions {
  width: 25%;
  float: right;
  text-align: right;
}

.card__action {
  display: inline-block;
}

.card__body {
  padding: $padding;
  height: 85%;

  &--scroll {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.context-menu {

}

.context__actions {
  display: block;
  width: 150px;
  background: $gray-lightest;
  @include box-shadow();
  padding: $padding/2;
  position: relative;
  z-index: 100;
}

.context__action {
  display: block;
  text-align: right;

  &:not(:last-child){
    margin-bottom: $padding/2;
  }
}


.card__search{
  display: block;
  float: left;
  width: 85%;

  .form__item{
    margin-top: 0;
  }
}