.device{
  display: block;
  margin-bottom: $padding/2;
  background-color: $gray-medium;
  width: 100%;
  height: 100px;
  text-indent: -9999px;
  background-position: center;
  transition: .25s all ease;
  

  &--drivers-license{
    background-image: url('/images/devices--drivers-license.png');
  }

  &--finger-print{
    background-image: url('/images/devices--finger-print.png');
  }

  &--photo{
    background-image: url('/images/devices--photo.png');
  }

  &--signature{
    background-image: url('/images/devices--signature.png');
  }

  &--passport{
    background-image: url('/images/devices--passport.png');
  }

  &--scanner{
    background-image: url('/images/devices--scanner.png');
  }

  &--selected{
    border: 5px solid $blue-alt;
  }

  &:hover{
    opacity: .75;
    box-shadow: 0 0 10px 0 rgba($gray-darkest, 0.5);
  }

}