// ----- [ Selectric ] ----- //
.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border: none;
  @include border-bottom();
  //background: $white;
  background: none;
  position: relative;

  .form--light & {
    @include border-bottom($color: $gray-lightest);
    color: $white;
  }

  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-xsm;
    line-height: $padding;
    color: $gray-dark;
    height: $base-element-height - 2px;
    padding: $padding/2 !important;
    margin: 0 0 -3px 0 !important;

    .form--light & {
      color: $white;
    }
  }

  .arrow {
    display: block;
    position: absolute;
    right: 16px;
    top: 0;
    width: $padding;
    height: $base-element-height;
    color: $gray-dark;
    text-align: center;
    font: 0/0 a;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: $gray-dark;
      border-bottom: none;
    }
  }
}

.selectric-hover .selectric {
  border-color: $gray-darkest;

  .arrow {
    color: $gray-darkest;

    &:after {
      border-top-color: $gray-dark;
    }
  }
}

.selectric-open {
  z-index: 9999;

  .selectric {
    border-color: $gray-darkest;
  }

  .selectric-items {
    display: block;
  }
}

.selectric-disabled {
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;

  select {
    position: absolute;
    left: -100%;
    display: none;
  }
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: $gray-lightest;
  @include border-bottom();
  z-index: -1;
  box-shadow: 0 0 10px -6px rgba($gray-darkest, 0.5);

  .selectric-scroll {
    height: 100%;
    overflow: auto;
  }

  .selectric-above & {
    top: auto;
    bottom: 100%;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: $font-size-sm;
    line-height: 20px;
    min-height: 20px;
  }

  li {
    display: block;
    padding: $padding;
    border-top: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-light;
    color: $gray-dark;
    cursor: pointer;
    font-weight: $font-bold;

    &.selected,
    &:hover {
      background: $gray-medium;
      color: $gray-dark;
    }
  }

  .disabled {
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: $gray-dark !important;
    user-select: none;
  }

  .selectric-group {
    .selectric-group-label {
      font-weight: bold;
      padding-left: 10px;
      cursor: default;
      user-select: none;
      background: none;
      color: $gray-dark;
    }

    &.disabled li {
      opacity: 1;
    }

    li {
      padding-left: 25px;
    }
  }
}