.form__item {
  margin-top: $padding*2;
  position: relative;

  @media (max-width: $breakpoint-md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__label {
  cursor: pointer;
  position: absolute;
  color: $gray-dark;
  font-size: $font-size-xsm;
  left: $padding/2;
  top: $padding/6;
  @include default-transition();

  @media (max-width: $breakpoint-md) {
    left: $padding/2;
  }

  .form--light & {
    color: $gray-lightest;
  }

  &--check {
    padding-left: $padding;
  }

}

.form__input {
  width: 100%;
  font-size: $font-size-xsm;
  padding: $padding/2;
  background: none;
  border: none;
  @include border-bottom();

  .form--light & {
    @include border-bottom($color: $gray-lightest);
    color: $gray-lightest;
  }

  &:focus {
    outline: none;
  }

  &:focus ~ .form__label,
  &:valid ~ .form__label {
    letter-spacing: 1px;
    font-size: $font-size-xsm;
    color: $gray-medium;
    top: -$padding*1.25;
    left: 0;

    .form--light & {
      color: $gray-lightest;
    }
  }
}

.form__bar {
  position: relative;
  width: 100%;
  display: block;

  &:before,
  &:after {
    content: '';
    height: 3px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: $blue-alt;
    @include default-transition();

    .form--light & {
      background: $blue-alt-dark;
    }
  }

  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }

}

.form__input:focus ~ .form__bar:before,
.form__input:focus ~ .form__bar:after,
.form__input.used ~ .form__bar:before,
.form__input.used ~ .form__bar:after {
  width: 50%;
}

.form__item.required {

  &:before {
    content: '*';
    width: 20px;
    height: 100%;
    position: absolute;
    padding: 8px 0 0;
    background: $yellow;
    color: $yellow-dark;
    font-size: $font-size-xlg;
    text-align: center;

    right: 0;
    z-index: 20;
    @include border-bottom($color: $yellow);

    .form--light & {
      background: $gray-lightest;
      color: $blue-alt;
      @include border-bottom($color: $gray-lightest);
    }

    @media (max-width: $breakpoint-md) {
      right: 0;
    }

  }
}

.form__item--icon {

  .form__label {
    left: $padding*2;
  }
  .form__input {
    padding-left: $padding*2;
  }
}

.form__icon {
  position: absolute;
  left: $padding/4;
  top: 0;

  .form--light & {
    color: $gray-lightest;
  }
}

.form__textarea {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  margin-bottom: -9px;
  z-index: 100;
  position: relative;
  color: $gray-lightest;
  resize: vertical;
  max-height: 250px;
  @include border-bottom();

  .form--light & {
    @include border-bottom($color: $gray-lightest);
  }
}

// ---- [ Form Header ] ---- //
.form-section {
  margin-bottom: $padding*2;
}

.form__header {
  @include border-bottom($color: $gray-darkest, $size: 3px);
  margin: $padding 0;
}

.form-section__number {
  background: $gray-darkest;
  padding: $padding/2 $padding;
  color: $gray-lightest;
}

.form-section__title {
  font-family: $font-main;
  font-weight: $font-light;
  font-size: $font-size-base;
  display: inline-block;
  height: $padding;
  margin: 2px $padding/2;
}

.validetta-inline {
  color: $red-alt;
  font-size: $font-size-xsm;
  position: absolute;
  left: 0 !important;
  top: 100% !important;

  .big-blue & {
    color: $gray-lightest;
  }
}

.label-group{
  position: relative;
  height: 25px;
  display: inline-block;
}


input[type='radio'],
input[type='checkbox'] {
  display: none; //hide by default
  cursor: pointer; //make the cursor a pointer when over the items
  &:focus,
  &:active {
    outline: none; //remove the annoying outline
  }
  & + label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 10px;
    height: 100%;
    color: darken($blue-alt, 20%);
    &:before,
    &:after {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      left: 2px;
      top: 5px;
      text-align: center;
      position: absolute;
    }
    &:before {
      background-color: $gray-light;
      transition: all .3s ease-in-out;
    }
    &:after {
      color: $gray-lightest;
    }
  }
  &:checked + label:before {
    box-shadow: inset 0 0 0 10px $blue-alt;
  }
}

/*Radio Specific styles*/
input[type='radio'] {
  & + label:before {
    border-radius: 50%;
  }
  & + label:hover:after,
  &:checked + label:after {
    content: '\2022';
    position: absolute;
    top: 8px;
    font-size: 48px;
    line-height: 15px;
  }
  & + label:hover:after {
    color: darken($gray-light, 20%);
  }
  &:checked + label:after,
  &:checked + label:hover:after {
    color: $gray-lightest;
  }
}

/*Checkbox Specific styles*/
input[type='checkbox'] {
  & + label:before {
    border-radius: 3px;
  }

  & + label:hover:after,
  &:checked + label:after {
    content: "\2713";
    line-height: 18px;
    font-size: 14px;
  }
  & + label:hover:after {
    color: darken($gray-light, 20%);
  }
  &:checked + label:after,
  &:checked + label:hover:after {
    color: $gray-lightest;
  }
}

/*Toggle Specific styles*/
input[type='checkbox'] {
  &.toggle {
    display: inline-block;
    appearance: none;
    width: 55px;
    height: 28px;
    background-color: $gray-light;
    position: relative;
    border-radius: 30px;
    box-shadow: none;
    transition: all .2s ease-in-out;
    &:hover:after {
      background-color: darken($gray-light, 20%);
    }
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: darken($gray-light, 30%);
      top: 2px;
      left: 2px;
      border-radius: 50%;
      transition: all .2s ease-in-out;
    }
  }
  &:checked.toggle {
    box-shadow: inset 0 0 0 15px $blue-alt-dark;
    &:after {
      left: 29px;
      background-color: $gray-lightest;
    }
  }
}

@import 'form-selectric';