/* ---- [ Compiled Grid ] ---- */
.container {
  margin: 0 auto;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  &--body{
    margin-bottom: $padding*4;
  }
}

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.col__xs--1, .col__xs--2, .col__xs--3, .col__xs--4, .col__xs--5, .col__xs--6, .col__xs--7, .col__xs--8, .col__xs--9, .col__xs--10, .col__xs--11, .col__xs--12,
.col__sm--1, .col__sm--2, .col__sm--3, .col__sm--4, .col__sm--5, .col__sm--6, .col__sm--7, .col__sm--8, .col__sm--9, .col__sm--10, .col__sm--11, .col__sm--12,
.col__md--1, .col__md--2, .col__md--3, .col__md--4, .col__md--5, .col__md--6, .col__md--7, .col__md--8, .col__md--9, .col__md--10, .col__md--11, .col__md--12,
.col__lg--1, .col__lg--2, .col__lg--3, .col__lg--4, .col__lg--5, .col__lg--6, .col__lg--7, .col__lg--8, .col__lg--9, .col__lg--10, .col__lg--11, .col__lg--12,
.col__xl--1, .col__xl--2, .col__xl--3, .col__xl--4, .col__xl--5, .col__xl--6, .col__xl--7, .col__xl--8, .col__xl--9, .col__xl--10, .col__xl--11, .col__xl--12,
.col__xxl--1, .col__xxl--2, .col__xxl--3, .col__xxl--4, .col__xxl--5, .col__xxl--6, .col__xxl--7, .col__xxl--8, .col__xxl--9, .col__xxl--10, .col__xxl--11, .col__xxl--12 {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: $padding;
  padding-right: $padding;
}

.alpha { padding-left: 0; }
.omega { padding-right: 0; }

$difference : 20px;

@media (min-width: $breakpoint-xs) {
  .container { width: 95% }
  .col__xs--1 { width: 8.33333%; }
  .col__xs--2 { width: 16.66667%; }
  .col__xs--3 { width: 25%; }
  .col__xs--4 { width: 33.33333%; }
  .col__xs--5 { width: 41.66667%; }
  .col__xs--6 { width: 50%; }
  .col__xs--7 { width: 58.33333%; }
  .col__xs--8 { width: 66.66667%; }
  .col__xs--9 { width: 75%; }
  .col__xs--10 { width: 83.33333%; }
  .col__xs--11 { width: 91.66667%; }
  .col__xs--12 { width: 100%; }
}

@media (min-width: $breakpoint-sm) {
  .container { width: $breakpoint-sm - $difference; }
  .alpha--xs { padding-left: 0; }
  .omega--xs { padding-right: 0; }
  .col__sm--1 { width: 8.33333%; }
  .col__sm--2 { width: 16.66667%; }
  .col__sm--3 { width: 25%; }
  .col__sm--4 { width: 33.33333%; }
  .col__sm--5 { width: 41.66667%; }
  .col__sm--6 { width: 50%; }
  .col__sm--7 { width: 58.33333%; }
  .col__sm--8 { width: 66.66667%; }
  .col__sm--9 { width: 75%; }
  .col__sm--10 { width: 83.33333%; }
  .col__sm--11 { width: 91.66667%; }
  .col__sm--12 { width: 100%; }
}

@media (min-width: $breakpoint-md) {
  .container { width: $breakpoint-md - $difference; }
  .alpha--sm { padding-left: 0; }
  .omega--sm { padding-right: 0; }
  .col__md--1 { width: 8.33333%; }
  .col__md--2 { width: 16.66667%; }
  .col__md--3 { width: 25%; }
  .col__md--4 { width: 33.33333%; }
  .col__md--5 { width: 41.66667%; }
  .col__md--6 { width: 50%; }
  .col__md--7 { width: 58.33333%; }
  .col__md--8 { width: 66.66667%; }
  .col__md--9 { width: 75%; }
  .col__md--10 { width: 83.33333%; }
  .col__md--11 { width: 91.66667%; }
  .col__md--12 { width: 100%; }
}

@media (min-width: $breakpoint-lg) {
  .container { width: $breakpoint-lg - $difference; }
  .alpha--md { padding-left: 0; }
  .omega--md { padding-right: 0; }
  .col__lg--1 { width: 8.33333%; }
  .col__lg--2 { width: 16.66667%; }
  .col__lg--3 { width: 25%; }
  .col__lg--4 { width: 33.33333%; }
  .col__lg--5 { width: 41.66667%; }
  .col__lg--6 { width: 50%; }
  .col__lg--7 { width: 58.33333%; }
  .col__lg--8 { width: 66.66667%; }
  .col__lg--9 { width: 75%; }
  .col__lg--10 { width: 83.33333%; }
  .col__lg--11 { width: 91.66667%; }
  .col__lg--12 { width: 100%; }
}

@media (min-width: $breakpoint-xl) {
  .container { width: $breakpoint-xl - $difference; }
  .alpha--lg { padding-left: 0; }
  .omega--lg { padding-right: 0; }
  .col__xl--1 { width: 8.33333%; }
  .col__xl--2 { width: 16.66667%; }
  .col__xl--3 { width: 25%; }
  .col__xl--4 { width: 33.33333%; }
  .col__xl--5 { width: 41.66667%; }
  .col__xl--6 { width: 50%; }
  .col__xl--7 { width: 58.33333%; }
  .col__xl--8 { width: 66.66667%; }
  .col__xl--9 { width: 75%; }
  .col__xl--10 { width: 83.33333%; }
  .col__xl--11 { width: 91.66667%; }
  .col__xl--12 { width: 100%; }
}

@media (min-width: $breakpoint-xxl) {
  .container { width: $breakpoint-xxl - $difference; }
  .alpha--xl { padding-left: 0; }
  .omega--xl { padding-right: 0; }
  .col__xxl--1 { width: 8.33333%; }
  .col__xxl--2 { width: 16.66667%; }
  .col__xxl--3 { width: 25%; }
  .col__xxl--4 { width: 33.33333%; }
  .col__xxl--5 { width: 41.66667%; }
  .col__xxl--6 { width: 50%; }
  .col__xxl--7 { width: 58.33333%; }
  .col__xxl--8 { width: 66.66667%; }
  .col__xxl--9 { width: 75%; }
  .col__xxl--10 { width: 83.33333%; }
  .col__xxl--11 { width: 91.66667%; }
  .col__xxl--12 { width: 100%; }
}