// -- Header -- //
.wrapper--header {
  position: fixed;
  background: $blue-dark;
  @include box-shadow($color: $gray-darkest, $spread: 0, $blur: 10px);
  margin-bottom: $padding;
  color: $gray-lightest;
  width: 100%;
  height: 10vh;
  z-index: 100;
}

.header {
  width: 100%;
  height: 100%;
  position: relative;
  padding: $padding/2 0;
}

.logo {
  margin: 0;
  position: relative;
  height: 50px;

  a {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: $gray-lightest;
    text-decoration: none;
    font-family: $font-bold;

    span {
      font-family: $font-light;
    }
  }
}

.school{
  position: relative;
}

.school__logo{
  display: block;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.school__unit,
.school__date{
  margin: 2px 0 $padding/2 0;
}