.legend{
  width: 50%;
  float: left;
  position: relative;
  margin-bottom: $padding/2;
}

.legend__text{
  position: absolute;
  top: 10%;
  padding-left: 5px;
  text-align: left;
}


.legend__icon{
  display: inline-block;
  width: 25px;
  height: 25px;
  background: $gray-medium;
}


.legend__icon{
  
  &--active{
    background: $green-alt;
  }
  
  &--exited{
    background: $blue-alt;
  }
  
  &--warning{
    background: $yellow;
  }
  
  &--danger{
    background: $red-alt;
  }
  
}