.loading--wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($gray-darkest, .75);
  z-index: 1000000;

  .loading-icon{
    color: $gray-lightest;
  }
}

.loading-icon{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}