// -- Nav -- //
.wrapper--nav {
  width: 75px;
  height: 90vh;
  z-index: 1100;
  @include box-shadow($color: $gray-darkest, $spread: 0, $blur: 10px);
  position: fixed;
  background: $gray-lightest;
  margin-top: 10vh;
  float: left;
  transition: all .25s ease-out;
  overflow: hidden;

  @media(max-width: $breakpoint-md) {
    height: 50px;
    width: 100%;
  }

  &:hover {
    width: 200px;

    @for $i from 1 through 8 {
      .nav__item-wrapper:nth-child(#{$i}) span {
        //transition: right .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-delay: (0.05s * $i);
        right: 10px;
        opacity: 1;
      }
    }
  }
}

.nav {
  height: 100%;
  width: 100%;
}

.nav__item {
  width: 200px;
  display: block;
  color: $gray-darkest;
  text-decoration: none;
  font-size: $font-size-xlg;
  padding: $padding;
  position: relative;
  transition: all .25s ease-out;
  text-align: left;

  &:hover {
    color: $blue-alt-dark;
    background: $gray-light;
  }

  span {
    transition: right .25s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity .25s ease-out;
    position: absolute;
    right: -55px;
    text-align: left;
    width: 135px;
    opacity: 0;
    font-size: $font-size-sm;

    &:hover {
      color: $blue-alt;
    }
  }
}

.nav__item-wrapper {
  position: relative;
  @include border-bottom();

  &:hover .sub-nav {
    max-height: 500px;
  }
}

.sub-nav {
  position: relative;
  overflow: hidden;
  max-height: 0;
  transition: all .5s ease-out;

}

.sub-nav__item {
  position: relative;
  display: block;
  text-align: center;
  background: $gray-light;
  padding: $padding;
  transition: .25s all ease;

  &:hover {
    background: $gray-medium;
    color: $gray-lightest;
  }
}