// -- Person Stuff -- //
.person {
  width: 350px;
  height: 140px;
  position: absolute;
  background: $gray-lightest;
  z-index: 1000000;

  @extend .clearfix;
  @include box-shadow($color: $gray-darkest, $spread: 0, $blur: 10px);

  &:before {
    content: '';
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;

    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    right: -20px;
  }

  &.isActive {
    &:before {
      border-bottom: 30px solid $green;
    }
  }
  &.hasExited {
    &:before {
      border-bottom: 30px solid $blue;
    }
  }
  &.isFlagged {
    &:before {
      border-bottom: 30px solid $red;
    }
  }
  &.isWarned {
    &:before {
      border-bottom: 30px solid $yellow;
    }
  }

  &--search{
    position: relative;
    background: $gray-light;
    margin-bottom: $padding;
    width: 100%;
  }
}

.person__left {
  width: 140px;
  float: left;
}

.person__right {
  width: calc(100% - 140px);
  float: right;
  padding: $padding/2;
}

.person__image {
  width: 100%;
  height: 140px;
  background-position: center;
  background-size: cover;
}

.person__info {
  margin: 5px 0;
  font-family: $font-bold;
  font-size: $font-size-sm;

  span {
    font-family: $font-main;
  }
}

.person__close{
  position: absolute;
  top: 2px;
  right: 6px;
}