$blue: #50a2d9;
$blue-dark: #1f608c;

$blue-alt: #30b9e9;
$blue-alt-dark: #1aa6da;

$green: #1ed9b3;
$green-dark: #1ed9b3;

$green-alt: #a0d468;
$green-alt-dark: #8cc152;

$red: #eb5848;
$red-dark: #8c2a1f;

$red-alt: #fc6141;
$red-alt-dark: #fc6141;

$yellow: #ffd366;
$yellow-dark: #cb8e10;

$lavender: #a182ec;
$lavender-dark: #8765dc;

$pink: #ec75b8;
$pink-dark: #d75aa4;

$gray-lightest: #f5f7fa;
$gray-light: #efefef;
$gray-base: #d6d7d9;
$gray-medium: #bcbdbd;
$gray-dark: #686868;
$gray-darkest: #373737;


$text-color: $gray-darkest;
$link-color: $blue-alt;
$link-color-hover: $blue-alt-dark;

$white: $gray-lightest;
$black: $gray-darkest;