@font-face {
  font-family: 'latoblack';
  src: url('../fonts/lato-black-webfont.eot');
  src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-black-webfont.woff2') format('woff2'),
  url('../fonts/lato-black-webfont.woff') format('woff'),
  url('../fonts/lato-black-webfont.ttf') format('truetype'),
  url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latoblack_italic';
  src: url('../fonts/lato-blackitalic-webfont.eot');
  src: url('../fonts/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-blackitalic-webfont.woff2') format('woff2'),
  url('../fonts/lato-blackitalic-webfont.woff') format('woff'),
  url('../fonts/lato-blackitalic-webfont.ttf') format('truetype'),
  url('../fonts/lato-blackitalic-webfont.svg#latoblack_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('../fonts/lato-bold-webfont.eot');
  src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-bold-webfont.woff2') format('woff2'),
  url('../fonts/lato-bold-webfont.woff') format('woff'),
  url('../fonts/lato-bold-webfont.ttf') format('truetype'),
  url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold_italic';
  src: url('../fonts/lato-bolditalic-webfont.eot');
  src: url('../fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/lato-bolditalic-webfont.woff') format('woff'),
  url('../fonts/lato-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latohairline';
  src: url('../fonts/lato-hairline-webfont.eot');
  src: url('../fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-hairline-webfont.woff2') format('woff2'),
  url('../fonts/lato-hairline-webfont.woff') format('woff'),
  url('../fonts/lato-hairline-webfont.ttf') format('truetype'),
  url('../fonts/lato-hairline-webfont.svg#latohairline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latohairline_italic';
  src: url('../fonts/lato-hairlineitalic-webfont.eot');
  src: url('../fonts/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-hairlineitalic-webfont.woff2') format('woff2'),
  url('../fonts/lato-hairlineitalic-webfont.woff') format('woff'),
  url('../fonts/lato-hairlineitalic-webfont.ttf') format('truetype'),
  url('../fonts/lato-hairlineitalic-webfont.svg#latohairline_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url('../fonts/lato-italic-webfont.eot');
  src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-italic-webfont.woff2') format('woff2'),
  url('../fonts/lato-italic-webfont.woff') format('woff'),
  url('../fonts/lato-italic-webfont.ttf') format('truetype'),
  url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-light-webfont.woff2') format('woff2'),
  url('../fonts/lato-light-webfont.woff') format('woff'),
  url('../fonts/lato-light-webfont.ttf') format('truetype'),
  url('../fonts/lato-light-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight_italic';
  src: url('../fonts/lato-lightitalic-webfont.eot');
  src: url('../fonts/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/lato-lightitalic-webfont.woff') format('woff'),
  url('../fonts/lato-lightitalic-webfont.ttf') format('truetype'),
  url('../fonts/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-regular-webfont.woff2') format('woff2'),
  url('../fonts/lato-regular-webfont.woff') format('woff'),
  url('../fonts/lato-regular-webfont.ttf') format('truetype'),
  url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-main: 'latoregular';
$font-main-italic: 'latoitalic';
$font-bold: 'latobold';
$font-bold-italic: 'latobold_italic';
$font-light: 'latolight';
$font-light-italic: 'latolight_italic';

$font-size-xsm: 0.7125em;
$font-size-sm: 0.875em;
$font-size-base: 1em;
$font-size-lg: 1.185em;
$font-size-xlg: 1.245em;