<section class="card card--activity">

  <header class="card__header">
    <div class="card__titles">
      <h1 class="card__title">Activity Log</h1>
    </div>
    <div class="card__actions">
      <div class="card__search">
        <div class="form__item form__item--icon">
          <i class="fa fa-search form__icon"></i>
          <input id="searchLog" type="text" class="form__input" name="searchLog" required="required">
          <label for="searchLog" class="form__label">Search</label>
          <span class="form__bar"></span>
        </div>
      </div>
    </div>
  </header>

  <aside class="card__body">
    <div class="activity-container">

      <i class="fa fa-chevron-left arrow arrow--left"></i>
      <div class="activity-wrapper">

        <div class="activity-inner">

        </div>

      </div>
      <i class="fa fa-chevron-right arrow arrow--right"></i>
    </div><!-- /activity-container -->
  </aside><!-- /card-body -->

</section><!-- /card -->