<div class="section--wrapper height--third">

  <section class="section height--half">
    <header class="section__header">
      <h1 class="section__title">Actions</h1>
    </header>
    <aside class="section__body">
      <a href="#" class="btn btn--success save btn--full"><i class="fa fa-save"></i> Save &amp; Print</a>
      <a href="#" class="btn btn--danger btn--half"><i class="fa fa-save"></i> Save &amp; Print</a>
      <a href="#" class="btn btn--warning btn--half"><i class="fa fa-save"></i> Save &amp; Print</a>
    </aside>
  </section><!-- /section -->

  <section class="card height--half">
    <header class="card__header">
      <div class="card__titles">
        <h1 class="card__title">Legend</h1>
      </div>
    </header><!-- /card__title -->
    <aside class="card__body">
      <div class="legend-area clearfix">
        <div class="legend"><i class="legend__icon legend__icon--active"></i> <span class="legend__text">Active</span></div>
        <div class="legend"><i class="legend__icon legend__icon--exited"></i> <span class="legend__text">Exited</span></div>
        <div class="legend"><i class="legend__icon legend__icon--warning"></i> <span class="legend__text">Warning</span></div>
        <div class="legend"><i class="legend__icon legend__icon--danger"></i> <span class="legend__text">Flag</span></div>
      </div>
    </aside>
  </section><!-- /card -->

</div><!-- /section wrapper -->