<div class="alert-area">
  <div class="alert alert--info">
    <p class="alert__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis expedita illo impedit laudantium? Fugiat id incidunt itaque nostrum optio repudiandae ut, voluptatem!</p>
    <p class="alert__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis expedita illo impedit laudantium? Fugiat id incidunt itaque nostrum optio repudiandae ut, voluptatem!</p>
  </div>
</div><!-- /alert-area -->