<section class="card card--capture-picture height--third">

  <header class="card__header">
    <div class="card__titles">
      <h1 class="card__title">Capture</h1>
    </div>
  </header><!-- /card__title -->

  <aside class="card__body">
    <div class="image-capture">
      <!-- <span class="image" style="background-image: url('http://loremflickr.com/320/240');"></span> -->
      <!-- <canvas class="image" style="background-image: url('http://loremflickr.com/320/240');"></canvas> -->
      <img src="#" alt="" />
      <a href="#" class="image-capture__button"><i class="fa fa-dot-circle-o"></i> <span>Capture Image</span></a>
    </div>
  </aside><!-- /card__body -->

</section><!-- /card -->