<section class="card card--devices height--third">

  <header class="card__header">
    <div class="card__titles">
      <h1 class="card__title">Devices</h1>
    </div>
  </header><!-- /card__title -->

  <aside class="card__body">
    <div class="card__body--scroll">
      <a href="#" class="tip device device--drivers-license" data-tip="Scan a Drivers License">Drivers License</a>
      <a href="#" class="tip device device--finger-print" data-tip="Scan a Finger Print">Finger Print</a>
      <a href="#" class="tip device device--photo device--selected" data-tip="Capture a Photo">Photo</a>
      <a href="#" class="tip device device--signature" data-tip="Capture a Signature">Signature</a>
      <a href="#" class="tip device device--passport" data-tip="Scan a Passport">Passport</a>
      <a href="#" class="tip device device--scanner" data-tip="Scan a Document">Scanner</a>
    </div>
  </aside><!-- /card__body -->

</section><!-- /card -->