<div class="wrapper wrapper--nav">

  <nav class="nav">
    <div class="nav__item-wrapper">
      <a href="#" class="nav__item">
        <i class="fa fa-home nav__icon"></i>
        <span class="nav__text">Home</span>
      </a>
    </div>

    <div class="nav__item-wrapper">
      <a href="#" class="nav__item">
        <i class="fa fa-book nav__icon"></i>
        <span class="nav__text">Registration</span>
      </a>
      <div class="sub-nav">
        <a href="#" class="sub-nav__item">Sub Menu Item</a>
        <a href="#" class="sub-nav__item">Sub Menu Item</a>
        <a href="#" class="sub-nav__item">Sub Menu Item</a>
        <a href="#" class="sub-nav__item">Sub Menu Item</a>
        <a href="#" class="sub-nav__item">Sub Menu Item</a>
        <a href="#" class="sub-nav__item">Sub Menu Item</a>
      </div>
    </div>

    <div class="nav__item-wrapper">
      <a href="#" class="nav__item">
        <i class="fa fa-camera-retro nav__icon"></i>
        <span class="nav__text">Devices</span>
      </a>
    </div>

    <div class="nav__item-wrapper">
      <a href="#" class="nav__item">
        <i class="fa fa-sticky-note-o nav__icon"></i>
        <span class="nav__text">Reports</span>
      </a>
    </div>

    <div class="nav__item-wrapper">
      <a href="#" class="nav__item">
        <i class="fa fa-cogs nav__icon"></i>
        <span class="nav__text">Manage</span>
      </a>
    </div>

    <div class="nav__item-wrapper">
      <a href="#" class="nav__item">
        <i class="fa fa-envelope-o nav__icon"></i>
        <span class="nav__text">Contact</span>
      </a>
    </div>

    <div class="nav__item-wrapper">
      <a href="#" class="nav__item">
        <i class="fa fa-info-circle nav__icon"></i>
        <span class="nav__text">About</span>
      </a>
    </div>

    <div class="nav__item-wrapper">
      <a href="#" class="nav__item">
        <i class="fa fa-sign-out nav__icon"></i>
        <span class="nav__text">Log out</span>
      </a>
    </div>
  </nav><!-- /nav -->

</div><!-- /wrapper nav -->