<div class="section">
  <header class="section__header">
    <h1 class="section__title">Powered By</h1>
  </header>
  <section class="section__body">
    <img src="images/sisco-logo.svg" alt="sisco logo">
  </section>
</div><!-- /section -->