<section class="card card--user-info height--third">

  <header class="card__header">
    <div class="card__titles card__titles--expandable">
      <h1 class="card__title">User Info</h1>
    </div>
    <div class="card__actions">
      <i id="mainSearch" class="fa fa-search main-search "></i>
    </div>
  </header><!-- /card__title -->

  <aside class="card__body">
    <div class="card__body--scroll">

     <div id="userInputForm">
       <div class="form__item required">
         <input id="firstName" type="text" class="form__input" name="firstName" required="required">
         <label for="firstName" class="form__label">First Name</label>
         <span class="form__bar"></span>
       </div>

       <div class="form__item">
         <input id="middleName" type="text" class="form__input" name="middleName" required="false">
         <label for="middleName" class="form__label">Middle Name</label>
         <span class="form__bar"></span>
       </div>

       <div class="form__item required">
         <input id="lastName" type="text" class="form__input" name="lastName" required="required">
         <label for="lastName" class="form__label">Last Name</label>
         <span class="form__bar"></span>
       </div>

       <div class="form__item form__item--icon required">
         <i class="form__icon fa fa-calendar"></i>
         <input id="dateOfBirth" type="text" class="form__input date-picker" name="dateOfBirth" required="required">
         <label for="dateOfBirth" class="form__label">DOB</label>
         <span class="form__bar"></span>
       </div>

       <div class="form__item selectric">
         <select name="prefix" id="prefix" required="false">
           <option value="">Prefix</option>
           <option value="mr">Mr.</option>
           <option value="mrs">Mrs.</option>
           <option value="miss">Miss.</option>
           <option value="dr">Dr.</option>
         </select>
       </div>
     </div><!-- /userInputForm -->

      <div id="usersFromDB"></div>

    </div>
  </aside><!-- /card__body -->

</section><!-- /card -->