<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fast Pass 7</title>
  <link rel="stylesheet" href="styles/font-awesome.css">
  <link rel="stylesheet" href="styles/vendors/vendor.min.css">
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

@@include('./partials/header.htm')

@@include('./partials/nav.htm')


<div class="wrapper wrapper--body">

  <div class="col__xs--12">
    @@include('./partials/alert.htm')
  </div><!-- /col -->

  <div class="col__xs--12 col__md--6 col__lg--3">
    @@include('./partials/user-info.htm')
  </div><!-- /col -->

  <div class="col__xs--12 col__md--6 col__lg--3 alpha omega">
    @@include('./partials/capture.htm')
  </div><!-- /col -->

  <div class="col__xs--12 col__md--6 col__lg--3">
    @@include('./partials/devices.htm')
  </div><!-- /col -->

  <div class="col__xs--12 col__md--6 col__lg--3">
    @@include('./partials/actions.htm')
  </div><!-- /col -->

  <div class="col__xs--12 col__md--9">
    @@include('./partials/activity-log.htm')
  </div><!-- /col -->

  <div class="col__xs--12 col__md--3 height--one-third">
    @@include('./partials/sponsor.htm')
  </div><!-- /col -->


</div><!-- /wrapper body -->

<script id="person-quick" type="text/x-handlebars-template">
  <span data-id="user-{{id}}" class="activity__person {{status}} tip" data-tip="{{name}}" style="background-image: url('{{image}}');" data-info="{{info}}"></span>
</script>

<script id="person-details" type="text/x-handlebars-template">

  <div class="person {{status}}">
    <div class="person__left">
      <div class="person__image" style="background-image: url('images/_person_placeholder.png');"></div>
    </div>
    <div class="person__right">
      <p class="person__info person-name">Name : <span>{{name}}</span></p>
      <p class="person__info person-visit">Reason for visit : <span>{{reason}}</span></p>
      <p class="person__info person-entered">Entered At : <span>{{enteredAt}}</span></p>
      <p class="person__info person-time">Time Entered : <span>{{timeEntered}}</span></p>
      <span class="person__close"><i class="fa fa-times"></i></span>
    </div>
  </div>

</script>

<script id="person-db-details" type="text/x-handlebars-template">

  <div class="col__xs--4 omega">
    <div class="person person--search {{status}}">
      <div class="person__left">
        <div class="person__image" style="background-image: url('images/_person_placeholder.png');"></div>
      </div>
      <div class="person__right">
        <p class="person__info person-name">First Name : <span>{{firstName}}</span></p>
        <p class="person__info person-name">Last Name : <span>{{lastName}}</span></p>
        <p class="person__info person-name">Date of Birth : <span>{{dateOfBirth}}</span></p>
      </div>
    </div>
  </div>

</script>

<!--
<div class="loading--wrapper">
  <i class="loading-icon fa fa-spinner fa-spin fa-3x fa-fw"></i>
</div>
-->
<script src="js/vendors/vendor.min.js"></script>
<script src="js/vendors/pikaday.jquery.js"></script>
<script src="js/vendors/sweetalert2.js"></script>
<script src="js/ActivityLog.js"></script>
<script src="js/UserInfo.js"></script>
<script src="js/ToolTip.js"></script>
<script src="js/main.js"></script>

</body>
</html>